{% extends 'core/base.html' %}

{% block conteudo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Painel de Controle</h1>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <div class="card p-4 shadow-sm">
            <h3>Bem-vindo ao sistema GED/ERP do CRF-PB</h3>
            <p class="text-muted">Utilize o menu lateral para navegar entre a busca de prontuários (PF/PJ), gerenciamento de arquivos dos setores e consulta aos logs de auditoria.</p>
        </div>
    </div>
</div>
{% endblock conteudo %}